
// /* логотип студії /* шапка навігації */

// @import "../utils/_placeholders.scss";

.slogan {
    // @include fonts(700, 26px, 1.19, 0.03em);
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--logo-color);
    margin-right: 0px;
}

.logo {
    color: var(--accent-color);
}

.page-header {
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    min-width: 80px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ececec;
    background-color: var(--background-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    margin-top: 0%;
    margin-bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    // @include align-element;
}

.page-header>.container {
    display: flex;
}

.main-nav {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    margin-left: 93px;
    gap: 50px;
}

.main-nav__item {
    gap: 50px;
}

.main-nav__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--primart-text-color);
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    // @include transition-color;
    &.current::after {
            content: "";
            width: 100%;
            left: 0;
            bottom: 0;
            border-radius: 2px;
            outline: 2px solid currentColor;
            position: absolute;
            transform: scaleX(1);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
                &:hover,
                &:focus {
                    color: var(--accent-color);
                }
                                &:hover::after {
                                    transform: scaleX(0);
                                }
}






.nav-contacts {
    display: flex;
    margin-top: 0%;
    margin-left: auto;
    margin-bottom: 0%;
    gap: 50px;
}

.nav-contacts__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    text-decoration: none;
    padding: 32px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    // @include transition-color;
    &:hover,
    &:focus {
            color: var(--accent-color);
        }
}

.nav-contacts__icon {
    margin-right: 10px;
    fill: currentColor;
    &:hover,
    &:focus {
            color: var(--accent-color);
     }
}



.current {
    color: var(--accent-color);
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    @media screen and (min-width: 480px) {
        width: 480px;
    }

        @media screen and (min-width: 768px) {
            width: 768px;
        }
                @media screen and (min-width: 1170px) {
                    width: 1170px;
                }

}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.header-kontact {
    display: flex;
    margin-top: 0%;
    margin-bottom: 0%;
}