
// /* Фотокарточки !! Галерея прикладів робіт фірми completed projects */

// @import "../utils/placeholders";

.section-portfolio {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
}

.section-portfolio__items {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.section-portfolio__shadow {
    display: block;
    text-decoration: none;
    color: var(--primart-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    // @include transition-color;
    &:hover,
    &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
   }
   &:hover .product-text-action,
   &:focus .product-text-action {
       transform: translate(0);
       opacity: 1;
   }
}

.product {
    position: relative;
    overflow: hidden;
}

.product-text-action {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 61px 24px;
    height: 100%;
    width: 100%;
    transition: 250ms cubic-bezier(0.1, 0, 0.2, 1);
    opacity: 250ms cubic-bezier(0.1, 0, 0.2, 1);
    background: rgba(33, 150, 243, 0.9);
    opacity: 0;
    transform: translateY(100%);
    .section-portfolio__shadow:hover &
        .section-portfolio__shadow:focus & {
            transform: translate(0);
            opacity: 1;
        }
                .items-porfolio:hover & {
                    opacity: 1;
                }
                                .ptoduct:hover & {
                                    transform: translateY(0);
                                }
}

.description-text {
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: var(--background-color);
}



.company {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
}

.company-name {
    // @include fonts(700, 18px, 2, 0.06em);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 0px;
}

.company-name__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    color: var(--title-text-color);
    margin-top: 4px;
}