// /*другорядний колір тексту #757575; */

// /* білий колір #FFFFFF; */

// /* синій (акцент) колір #2196F3; */

// /* другорядний колір фону  #F5F4FA; */

// /* колір фону блок герой і футор  #2F303A; */

// /* колір логотипу #000000 .. #2196F3; */

:root {
    --primart-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196f3;
    --futer-bg-color: #2f303a;
    --logo-color: #000000;
    --background-color: #fff;
    --background-color-team: #f5f4fa;
    --contener-color: #eeeee;
    --icon-color: #afb1b8;
    --items-shadow: #eeeeee;
}